### merging dataset 1 and 2

In [9]:
import pandas as pd

# 1. Load both datasets
df1 = pd.read_csv("/Users/sayenaqureshi/Main-Folder/datasets/Crop and fertilizer dataset (2).csv")  # has Crop
df2 = pd.read_csv("/Users/sayenaqureshi/Main-Folder/datasets/Crop_recommendation (3).csv")  # has label

# 2. Rename dataset2 columns to match dataset1
rename_map = {
    "N": "Nitrogen",
    "P": "Phosphorus",
    "K": "Potassium",
    "temperature": "Temperature",
    "ph": "pH",
    "rainfall": "Rainfall",
    "label": "Crop"   # <-- IMPORTANT
}
df2 = df2.rename(columns=rename_map)

# 3. Add missing columns to df2 (undefined/NaN)
cols_only_in_df1 = ["District_Name", "Soil_color", "Fertilizer", "Link"]
for col in cols_only_in_df1:
    if col not in df2.columns:
        df2[col] = pd.NA

# 4. Add missing column to df1 (undefined/NaN)
if "humidity" not in df1.columns:
    df1["humidity"] = pd.NA

# 5. final column order
final_cols = [
    "District_Name",
    "Soil_color",
    "Nitrogen",
    "Phosphorus",
    "Potassium",
    "pH",
    "Rainfall",
    "Temperature",
    "humidity",
    "Crop",
    "Fertilizer",
    "Link"
]

df1 = df1[final_cols]
df2 = df2[final_cols]

# 6. Merge (vertical stack)
merged_df = pd.concat([df1, df2], ignore_index=True)

# 7. Save
merged_df.to_csv("merged_dataset.csv", index=False)

/var/folders/j1/jm46_jgd3v317d78k416zvd80000gn/T/ipykernel_67529/872472640.py:49: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  merged_df = pd.concat([df1, df2], ignore_index=True)

In [10]:
merged_df.head()

,District_Name,Soil_color,Nitrogen,Phosphorus,Potassium,pH,Rainfall,Temperature,humidity,Crop,Fertilizer,Link
0,Kolhapur,Black,75,50,100,6.5,1000.0,20.0,NaN,Sugarcane,Urea,https://youtu.be/2t5Am0xLTOo
1,Kolhapur,Black,80,50,100,6.5,1000.0,20.0,NaN,Sugarcane,Urea,https://youtu.be/2t5Am0xLTOo
2,Kolhapur,Black,85,50,100,6.5,1000.0,20.0,NaN,Sugarcane,Urea,https://youtu.be/2t5Am0xLTOo
3,Kolhapur,Black,90,50,100,6.5,1000.0,20.0,NaN,Sugarcane,Urea,https://youtu.be/2t5Am0xLTOo
4,Kolhapur,Black,95,50,100,6.5,1000.0,20.0,NaN,Sugarcane,Urea,https://youtu.be/2t5Am0xLTOo

In [11]:
merged_df.tail()

,District_Name,Soil_color,Nitrogen,Phosphorus,Potassium,pH,Rainfall,Temperature,humidity,Crop,Fertilizer,Link
6708,NaN,NaN,107,34,32,6.780064,177.774507,26.774637,66.413269,coffee,NaN,NaN
6709,NaN,NaN,99,15,27,6.086922,127.924610,27.417112,56.636362,coffee,NaN,NaN
6710,NaN,NaN,118,33,30,6.362608,173.322839,24.131797,67.225123,coffee,NaN,NaN
6711,NaN,NaN,117,32,34,6.758793,127.175293,26.272418,52.127394,coffee,NaN,NaN
6712,NaN,NaN,104,18,30,6.779833,140.937041,23.603016,60.396475,coffee,NaN,NaN